*{
    margin:0;
    padding:0;
}
.navbar{
    background:rgba(41, 41, 41, 0.26);
}
html,body{
    height:100%;
}

body{
    overflow-x:hidden;
    /* The gif used */
    /*background-color: rgb(85, 55, 55);*/
    background: url(../images/citynight.jpg) no-repeat center center fixed;
    background-size:cover;
    /* Full height */
    width:100vw;
    font-family:'titillium';
}
@font-face{
    src:url(../fonts/Titillium_Web/TitilliumWeb-Regular.ttf);
    font-family:'titillium';
}
.fronttext{
    opacity:0%;
    width:100%;
    color:white;
    background: rgba(0, 0, 0, 0.61); 
}
#web1text{
    position:absolute;
    top: 25%;
    left: 25%;
    transform: translate(-50%, -50%);

}
.navbar{
    background-color:rgb(22, 22, 22) !important;
}
.title {
    color: #1a1a1a;
    text-align: center;
    margin-bottom: 10px
}

.content {
    position: relative;
    width: 90%;
    max-width: 400px;
    margin: auto;
    overflow: hidden
}

.content .content-overlay {
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    height: 99%;
    width: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s
}

.content:hover .content-overlay {
    opacity: 1
}

.content-image {
    width: 100%
}

img {
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.1);
    border-radius: 5px
}

.content-details {
    position: absolute;
    text-align: center;
    padding-left: 1em;
    padding-right: 1em;
    width: 100%;
    top: 50%;
    left: 50%;
    opacity: 0;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s
}

.content:hover .content-details {
    top: 50%;
    left: 50%;
    opacity: 1
}

.content-details h3 {
    color: #fff;
    font-weight: 500;
    letter-spacing: 0.15em;
    margin-bottom: 0.5em;
    text-transform: uppercase
}

.content-details p {
    color: #fff;
    font-size: 0.8em
}

.fadeIn-bottom {
    top: 80%
}
#web1:hover{
    opacity:10%;
    transition: opacity .4s, visibility .2s;
}
#web2:hover{
    opacity:10%;
    transition: opacity .4s, visibility .2s;
}
#web3:hover{
    opacity:10%;
    transition: opacity .4s, visibility .2s;
}
#web4:hover{
    opacity:10%;
    transition: opacity .4s, visibility .2s;
}
#web1, #web2, #web3, #web4{
    margin:10px;
    height:auto;
    max-width:35rem;
}
.aboutme{
    opacity:0%;
    width:95%;
    min-height: 94vh;
    color:white;
    background: rgba(0, 0, 0, 0.61); 
}
.profile{
    float:right;
}
#themeBtn{
    position: fixed;
    bottom: 0px;
    right: 0px; 
}